
  
* {
    box-sizing: border-box;
}

html,
body {
    height: 100;
    margin: 0;
    background-color: rgb(235, 235, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(37, 37, 37);
    text-align: center;
}

ul, li{
    list-style: none;
}

li:hover{
    background-color: rgba(180, 170, 170, 0.158);
}
li:active{
    background-color: rgb(112, 77, 77);
}
